@font-face {
    font-family: Orbitron;
    src: url(fonts/Orbitron-VariableFont_wght.ttf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --page-height: 100vh;
    --side-width: 40vw;
    --main-width: calc(100vw - var(--side-width));
    --input-width: 225px;
}

.page-container {
    /* Place side and main content side by side */
    display: flex;
    height: var(--page-height);
}

p a {
    color: inherit;
}

.side {
    width: var(--side-width);
    background-image: url(images/hot-air-balloons.jpeg);
    background-size: cover;
    position: relative;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: calc(0.2 * var(--page-height));
    font-family: Orbitron, sans-serif;
    background-color: rgba(0,0,0,0.2);
}

.logo > img {
    /* Set minimum image width */
    width: max(100px, 0.25*var(--side-width));
    height: auto;
}

.logo > h1 {
    font-size: 3rem;
    letter-spacing: .2rem;
}

.side > .caption {
    font-size: 0.8rem;
    position: absolute;
    bottom: 15px;
    width: 100%;
    text-align: center;
    opacity: 0.6;
}

.main {
    width: var(--main-width);
    background-color: rgb(249 250 251);
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
}

.main > * {
    padding-left: 40px;
}

.desc {
    padding-right: calc(0.2 * var(--main-width));
    font-size: 1.4rem;
    font-weight: bold;
}

.desc p {
    margin-bottom: 20px;
}

.desc p:last-child {
    margin-bottom: 40px;
}

.main > form {
    background-color: white;
}

form {
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0 5px 5px rgb(200, 200, 200);
}

form > h3 {
    margin-bottom: 20px;
}

.form-field-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-right: calc(0.3 * var(--main-width));
}

.form-row {
    display: flex;
    gap: 50px;
}

.form-field {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.form-field > label {
    text-transform: uppercase;
    letter-spacing: .1rem;
    font-size: .7rem;
}

.form-field > input {
    width: var(--input-width);
    height: 25px;
    padding: 2px 10px;
    appearance: none;
    border: 1px solid rgb(210, 210, 210);
    border-radius: 2px;
}

.form-field > input:focus {
    box-shadow: 2px 2px 2px rgb(200, 200, 200);
    border-color: rgb(20, 5, 200);
}

.form-field > input:invalid:not(:placeholder-shown) {
    border-color: red;
}

/* Message for invalid passwords */
input.error:invalid:not(:placeholder-shown) + span::after {
    content: "* Password must contain one uppercase letter, one lowercase letter, a number or special character, and min 8 characters";
    display: block;
    font-size: .7rem;
    color: red;
    width: var(--input-width);
}

button,
input {
    /* By default, widgets don't inherit typographical styles */
    font-family: inherit;
}

button {
    border: none;
    font-size: 1rem;
    border-radius: 10px;
    width: 175px;
    height: 40px;
    background-color: rgb(89 109 72);
    color: white;
    cursor: pointer;
}

button:active {
    box-shadow: inset 2px 2px rgb(70 90 60);
    border: 2px solid black;
}

.signup > button[type="submit"] {
    margin-top: 25px;
}

.signup > p:last-child {
    margin-top: 30px;
}

.signup > p:last-child > a {
    color: rgb(96 116 81);
    /* Get rid of default underline */
    text-decoration: none;
}